<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bill Cheng</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
  <h2>All About Me</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <form class="form-inline" id="newShowForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" placeholder="TV Show Title">
            </div>
            <div class="form-group">
              <label for="station">Station</label>
              <input type="text" class="form-control" name="station" placeholder="Broadcasting Station">
            </div>
            <div class="form-number last-in-line">
              <label for="season">Season</label>
              <input type="number" class="form-control" name="season">
            </div>
          </form>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    </div>
  </body>
</html>
